 .modal-card-head{
  justify-content: center;
  font-weight: bold;
 }


 .albumImg {
   width: 200px;
   height: 150px;
 } 
#search{
  font-size: 22px;
  padding-bottom: 5px;
}
 .concerto{
  text-align: center;
 }

 .btnText{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
 }

 .songButtn{
   margin-bottom: 24px;
   
 }
.tedd{
  font-weight: bold;
}
 .titleBox {
   padding-bottom: 35px;
   text-align: center;
   justify-content: center;
   font-weight: bold;
 }

 .modal-card-body{
  flex-wrap: wrap;
  justify-content: space-evenly;
 }
 
 .artistBox{
   text-align: center;
  justify-content: center;
  margin-bottom: 24px
 }

   .test {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
